@font-face {
  font-family: "Rubik Regular";
  src: url("fonts/Rubik-Medium.ttf");
}

@font-face {
  font-family: "Rubik Light";
  src: url("fonts/Rubik-Light.ttf");
}

@font-face {
  font-family: "Rubik Black";
  src: url("fonts/Rubik-Black.ttf");
}

.App {
  text-align: center;
  font-size: 2rem;
  --main-bg-color: #363434;
  --sider-bg-color: black;
  --tags-bg-color: black;
  --ipoCard-bg-color: #fff6f5;
  background-color: var(--main-bg-color);
}

.loadingScreen {
  color: #fff6f5;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#trigger {
  font-size: 18px;
  line-height: 18px;
  padding: 0 0px;
  cursor: pointer;
  transition: color 0.3s;
  position: fixed;
  top:-8;
  color: rgb(189, 240, 247);
}

#trigger:hover {
  color: #1890ff;
}