.content-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 100vh !important;
    display: grid;
    gap: 25px;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    background-color: var(--main-bg-color);
}

.card {
    position: relative;
    z-index: 0;
    background-color: var(--ipoCard-bg-color);
    border-radius: 5px;
    transition: width 0.5s, height 0.5s;
}

.expanded {
    position: fixed;
    max-width: 900px !important;
    width: 900px !important;
    height: auto !important;
} 

.minimized {
    height: 250px !important;
}

.expanded .description {
    max-height: 250px;
    overflow: scroll;
}

.overlay {
    z-index: 1;
    position: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
  }

.companyName {
    font-family: "Rubik Regular", sans-serif;
    line-height: 35px;
    color: #303030;
    text-align: left;
    font-size: 2rem;
}

.card .ant-card-head-title {
    color: #363434;
    font-size: 1.5rem;
    font-weight: bolder;
}

.marketCap {
    font-family: "Rubik Regular", sans-serif;
    text-align: left;
    font-size: 1.5rem;
    color: #04ad72;
    margin-bottom: 20px;
}

.status {
    text-align: left;
    font-size: 1.2rem;
    /* font-weight: bold; */
}

.description {
    font-family: "Rubik Light", sans-serif;
    text-align: left;
    color: #303030;
    font-size: 1.05rem;
    /* background-color: #F5E7E1; */
    border-radius: 5px;
    margin-bottom: 30px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.description::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
    height: 0;
}

.tradingDayWrapper {
    font-family: "Rubik Light", sans-serif;
    color: #04ad72;
    text-align: left;
    font-size: 1.2rem; 
    margin-bottom: 10px;
}

.date {
    color: #1E90FF;
}

.dateMinimized {
    font-family: "Rubik Regular", sans-serif;
    font-size: 1.1rem;
    text-align: left;
    margin-top: -20px;
}

.tags {
    text-align: left;
    margin-bottom: 20px;
}

.tag {
    font-family: "Rubik Light", sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    display: inline-block;
    color: white;
    margin: 5px 10px 5px 0px;
    padding: 7.5px;
    border-radius: 15px;
}

.card img {
    max-height: 250px;
    margin-top: -2px;
}
.noContent {
    margin: 30vh;
    color: #363434;
}

.star {
    float: right;
    font-size: 1.2rem;
}
                
.expandBtn {
    margin: 10px;
    border: none;
    background-color: #CCC5C4;
    width: 80px;
}

.bottomRight {
    right: 0;
    bottom: 0;
    position: absolute;
}

.expandedInfoWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.expanded .tradingDayWrapper {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.expanded .exchange {
    float: right;
    margin-right: 100px;
}

.exchange {
    /* font-family: "Rubik Regular", sans-serif; */
    display: block;
    
}

.expandedInfoWrapper h2 {
    font-size: 1.7rem;
    font-family: "Rubik Regular", sans-serif;
    color: #363434;
}

.furtherReading, .financialInfo {
    font-size: 1.3rem;
    font-family: "Rubik Light", sans-serif;
}

.furtherReading {
    text-align: left;
    width: 40%;
    padding-left: 30px;
}

.latestfilings {
    list-style-type: none;
}

.financialInfo {
    width: 60%;
    padding-right: 30px;
    text-align: left;
    padding-bottom: 20px;
}

.financialInfo div {
    margin-bottom: 20px;
}

.financialData {
    display: block;
    float: right;
    font-family: "Rubik Regular", sans-serif;
    text-align: right;
    color: #04ad72;
}

@media only screen and (max-width: 500px) {
    .financialInfo, .furtherReading {
        padding: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 1400px) {
    .expanded {
        max-width: 700px !important;
    }
}

@media only screen and (max-width: 1200px) {
    .card {
        width: 350px !important;
        height: 600px !important;
    }
 }

 @media only screen and (max-width: 1200px) {
    .card {
        width: 95% !important;
        height: auto !important;
        /* margin: 20px auto 20px auto !important; */
    }

    .expanded {
        position: relative;
        max-height: auto !important;
        height: auto !important;
    }
 }

 @media only screen and (max-width: 400px) {
    .content-wrapper {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
 }

 @media only screen and (max-width: 600px) {
    .expandedInfoWrapper {
        grid-template-columns: auto;
    }
    .expanded .exchange {
        float: none;
    }
}


