.content-wrapper {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    background-color: var(--main-bg-color);
}

.card {
    position: relative;
    z-index: 0;
    background-color: var(--ipoCard-bg-color);
    border-radius: 5px;
}

.expanded {
    position: fixed;
    max-width: 800px !important;
    width: 800px !important;
}

.companyName {
    font-family: "Rubik Regular", sans-serif;
    line-height: 35px;
    color: #303030;
    text-align: left;
    font-size: 2rem;
}

.card .ant-card-head-title {
    color: #363434;
    font-size: 1.5rem;
    font-weight: bolder;
}

.marketCap {
    font-family: "Rubik Regular", sans-serif;
    text-align: left;
    font-size: 1.5rem;
    color: #04ad72;
    margin-bottom: 20px;
}

.status {
    text-align: left;
    font-size: 1.2rem;
    /* font-weight: bold; */
}

.description {
    font-family: "Rubik Light", sans-serif;
    text-align: left;
    color: #303030;
    font-size: 1.05rem;
    /* background-color: #F5E7E1; */
    border-radius: 5px;
    margin-bottom: 20px;
}

.tradingDayWrapper {
    font-family: "Rubik Light", sans-serif;
    color: #008000;
    text-align: left;
    font-size: 1.2rem; 
    margin-bottom: 10px;
}

.date {
    color: #1E90FF;
}

.tags {
    text-align: left;
}

.tag {
    font-family: "Rubik Light", sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    display: inline-block;
    color: white;
    margin: 5px;
    padding: 10px;
    border-radius: 25px;
}

.card img {
    max-height: 250px;
    margin-top: -2px;
}
.noContent {
    margin: 30vh;
    color: #363434;
}

.star {
    float: right;
    font-size: 1.1rem;
}
                
.expandBtn {
    background-color: #db5e56;
    width: 80px;
}

.bottomRight {
    right: 0;
    bottom: 0;
    position: absolute;
}

/* @media only screen and (max-width: 2600px) {
    .content-wrapper {
        grid-template-columns: auto;
    }
} */

@media only screen and (max-width: 1200px) {
    .card {
        width: 350px !important;
        height: 600px !important;
    }
 }

 @media only screen and (max-width: 1120px) {
    .card {
        width: 95% !important;
        height: auto !important;
        margin: 20px auto 20px auto !important;
    }
 }



