body {
    background-color: #363434;
}

.statpage {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.headline {
    font-size: 2rem;
    font-family: "Rubik Regular", sans-serif;
    color: #363434;
}

.statHeader {
    background-color: #363434;
}

.overview {
    background-color: #fff6f5;
    padding: 25px;
    margin: 20px;
    border-radius: 20px;
}
