.ant-layout-sider, .filterContainer {
    font-family: "Rubik Light", sans-serif;
    background-color: var(--sider-bg-color);
}

.filter {
    background-color: var(--tags-bg-color);
}

.ant-layout-sider .ant-card-head-title, h2 {
    font-size: 1.5rem;
    color: white;
}

.logo {
    font-family: "Rubik Regular", sans-serif;
    font-size: 4rem;
    color: orange;
}